/* 设置全局样式 */

body {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    font-family: "Microsoft YaHei" !important;
}


/* 去掉表格下面的阴影 */

.ivu-table:before,
.ivu-table-border:after {
    background-color: transparent !important;
}


/* 选项卡设置内边距 */

.ivu-tabs .ivu-tabs-tabpane {
    padding: 5px;
}


/* 设置输入框在禁用状态下不改变背景颜色 */

.ivu-input[disabled],
fieldset[disabled] .ivu-input {
    background-color: #FFF !important;
}


/* 设置下拉框在禁用状态下不改变背景颜色 */

.ivu-select-disabled .ivu-select-selection {
    background-color: #FFF !important;
}


/* 设置表格圆角 */

.ivu-table-wrapper {
    border: 1px solid #dcdee2;
    border-radius: 6px;
}

.ivu-input-number {
    width: 110px;
}

.ivu-collapse-content>.ivu-collapse-content-box {
    padding-bottom: 10px;
}


/* 禁用滚动条 */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


/* 左下角操作按钮 */

.controller {
    float: left;
    margin-top: 20px;
}


/* 折叠面板中各选项的小字描述 */

.detail {
    float: right;
    font-size: 12px;
}


/* 文件三步设置的样式 */

.tabs-style {
    height: 390px;
    width: 820px;
}


/* 列表的左边距 */

.ivu-list-small .ivu-list-item {
    padding-left: 8px;
}


/* 设置菜单右侧的操作区样式 */

.menu-style {
    height: 460px;
    width: 650px;
}


/* 选项间相互切换的设置 */

.framework {
    margin: 0 auto;
}

.framework>.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    border: none;
    background-color: transparent;
}

.framework>.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar {
    height: 0px;
    margin: 0px;
    border-bottom: none;
}